/* CSS for CV /*

/* Whole document */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

/* Main title */
h1 {
    font-size: 55px;
    color: #FFFFFF;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #000000;
}
h1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/* Definition list */
dd {
    margin-top: 0.5%;
    margin-right: 30%;
}

/* Images */
img.circle {
    border-radius: 50%;
}

/* Titles of categories */
h2 {
    color: #FFFFFF;
    display:table;
    background-color: #000000;
}
h2:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/* Links */
h1 a{
    text-decoration: none;
    color: #FFFFFF;
}
h1 a:hover{
    text-decoration: none;
    color: #111;
}
h2 a{
    text-decoration: none;
    color: #FFFFFF;
}
h2 a:hover{
    text-decoration: none;
    color: #111;
}
a.text {
    text-decoration: underline;
    color: #000000;
}
a.text:hover, a.text:active {
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

/* Emphasis */
em {
    font-family: "Arial", sans-serif;
    font-size: 90%;
    font-style: normal;
    font-variant: small-caps
}

/* Footer */
footer {
    margin-top: 1%;
    text-align: center;
}

/* Classes */
.normal {
    font-weight: normal;
}
.role {
    font-style: italic;
    font-size: 105%;
}
.miniheader {
    margin-top: 1.4%;
    font-weight: bold;
    font-size: 110%;
}
.year {
    float: right;
    text-align: right;
    font-weight: bold;
}
.personal {
    text-align: center;
}
.topspace {
    margin-top: 1%
}
.listheader {
    font-weight: bold;
    line-height: 0.8;
}