/* CSS for index.html */

#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content container */
#index-content {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/* My face */
#index-content img {
  display: block;
  max-width: 30%;
  width: auto;
  height: auto;
}

/* Column for text */
#index-text-container {
  display: flex;
  flex-direction: column;
}
#index-text-container .text-column {
  float: left;
  border: solid black 3px;
  text-align: justify;

  /* Spacing outside the box */
  margin-left: 5%;
  margin-bottom: 5%;

  /* Spacing within the box */
  padding-left: 1%;
  padding-right: 1%;
}

/* Contact Icon List */
#contact-list {
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact-list img.circle {
  border-radius: 50%;
}
#contact-list img {
  float: left;
  padding: 10px;
  user-select: none;
}

/* Size change compatibility */
/* @media screen and (max-width: 1000px) {
  #facecolumn {
    float: none;
    margin: auto;
  }
  #textcolumn {
    float: none;
    margin: auto;
    text-align: justify;
  }
  .proj {
    float: none;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    width: 100%;
  }
  .proj img {
    display: block;
    float: none;
    margin: auto;
  }
  .proj .text {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    float: none;
    margin: auto;
  }
  .proj .show-text {
    position: absolute;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    float: none;
    margin: auto;
  }
  nav li {
    width: 33.33%;
    float: left;
  }
  #this-website {
    float: none;
    width: 250px;
    height: 250px;
    border: solid #000000 5px;
    text-align: center;
    font-size: 3em;
    background-color: black;
    margin: auto;
  }
  .marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  @keyframes marquee {
    0% {
      transform: translate(0%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
} */
