[id*=modal] {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 95%;
    background-color:rgba(0,0,0,0.5);  
}
[id*=modal]:target {
    display: block;
}
.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: solid black 5px;
    width: 80%;
    height: 80%;
    overflow: auto;
}
.modal-content{
    text-align: center;
    margin: auto;
    width: 80%;
    height: 80%;
}
.modal-text{
    text-align: justify;
    margin-bottom: 10%;
    padding-bottom: 1%;
}
.modal-exit{
    position: relative;
    float: right;
}

.neuroimg {
    width: auto;
    height: 50%; 
}

@media screen and (max-width: 1200px) {
    .neuroimg {
        width: 50%;
        height: auto; 
    }
}