/* CSS for the navigation bar */

nav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  border: solid #000000 2px;
  z-index:1;

}
nav a.active {
  color: black;
  background-color: white;
}
nav a:hover {
  background-color: white;
  color: black;
}
a.active:hover {
  background-color: black;
  color: white;
}

/* Marquee just because */
nav .marquee {
  padding: 14px 16px;
  flex-grow: 1;
}

nav .marquee .marquee-text {
  /* show the marquee just outside the paragraph */
  animation-name: marquee;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  user-select: none;
}

/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(-45%, 0);
  }
  100% {
    transform: translate(45%, 0);
  }
}

@media screen and (max-width: 1000px) {
  nav .marquee {
    display: none;
  }
  nav a{
    flex-grow: 1;
  }
}
