/* CSS for projects.html /*

/* Container */
#projects-container {
  flex: 1;
  display: flex;
}

/* Sidebar */
#projects-container .sidebar {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sidebar toggle button */
#sidebar-toggle-button {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10%;
  width: 100px;
  padding: 14px 16px;
  text-align: center;
  cursor: pointer;
  background-color: black;
}
#sidebar-toggle-button.active {
  background-color: white;
  color: black;
}

/* Tags sidebar */
#tags-sidebar {
  width: 200px;
  background: white;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 10px;
}

/* Tag buttons */
.tag-button {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
}
.tag-button button {
  cursor: pointer;
  width: 150px;
  display: block;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  border: solid #000000 2px;
  background-color: white;
}
.tag-button button.active {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  border: solid #000000 2px;
  background-color: black;
}

/* Gif that shows when all projects are toggled off */
#no-project-gif {
  display: none;
}
#no-project-gif.show {
  display: block;
}

/* Project boxes */
.projects-content-container {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.projbox-container {
  padding-bottom: 1%;
}
.projbox {
  position: relative; /* Needs to be relative to place text at center of image */
  float: left;
  display: none; /* Hidden by default */
  padding: 10px;
}
.show-projbox {
  display: block;
}
.projbox img {
  float: left;
  width: 250px;
  height: 250px;
  border: solid #000000 5px;
  text-align: center;
}
.projbox .text {
  font-size: 25px;
  visibility: hidden;
  /* To place text at center of image */
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projbox:hover img {
  opacity: 0.5;
}
.projbox:hover .text {
  visibility: visible;
}

/* Custom Project Box Image Hover */
#revolver-projbox-img:hover {
  content: url("../projects/revolver/revolver.gif");
}
#drawing-application-projbox-img:hover {
  content: url("../projects/drawing_application/drawingappdemo.gif");
}
#super-miami-projbox-img:hover {
  content: url("../projects/super_miami/supermiami.gif");
}

/* Modals */
[id*="modal"] {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.5);
}
[id*="modal"]:target {
  display: block;
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: solid black 5px;
  width: 80%;
  height: 80%;
  overflow: auto;
}
.modal-content {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 80%;
}
.modal-text {
  text-align: justify;
  margin-bottom: 10%;
  padding-bottom: 1%;
}
.modal-exit {
  position: relative;
  float: right;
}

/* This Website */
#this-website {
  float: left;
  width: 250px;
  height: 250px;
  border: solid #000000 5px;
  text-align: center;
  font-size: 3em;
  background-color: black;
  margin: auto;
}
#this-website p {
  display: inline-block;
  color: white;
  text-decoration: none;
}
#this-website:hover {
  background-color: white;
}
#this-website:hover p {
  color: black;
}

/* Modal image styling */
.neurospell-modal-img {
  width: auto;
  height: 50%;
}
/* @media screen and (max-width: 1200px) {
  .neurospell-modal-img {
    width: 50%;
    height: auto;
  }
} */

.twog-modal-img {
  width: 80%;
  height: auto;
}
.without-abandonware-modal-img {
  width: 80%;
  height: auto;
}
.heat-pipe-cooling-design-system-for-osram-led-luminaires-modal-img {
  width: 80%;
  height: auto;
}
.armadillo-modal-img {
  width: 50%;
  height: auto;
  border: solid;
}
.emotional-rollercoaster-modal-img {
  width: 50%;
  height: auto;
}
.super-miami-modal-img {
  width: 50%;
  height: auto;
}
.drawing-application-modal-img {
  width: 50%;
  height: auto;
}
.revolver-modal-img {
  width: 25%;
  height: auto;
}
.parkware-modal-img {
  width: 50%;
  height: auto;
}
.eebug-modal-img {
  width: 50%;
  height: auto;
}
.untitled-modal-img {
  width: 25%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  #projects-container .sidebar {
    display: none;
  }
  .projbox {
    float: none;
  }
  .projbox img {
    float: none;
  }
  .projbox-container {
    padding-bottom: 3%;
  }
}
