.container {
  flex: 1;
  display: flex;
}

/* Sidebar */
.sidebar {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sidebar toggle button */
#sidebar-toggle-button {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10%;
  width: 100px;
  padding: 14px 16px;
  text-align: center;
  cursor: pointer;
  background-color: black;
}

#sidebar-toggle-button.active {
  background-color: white;
  color: black;
}

/* Tags sidebar */
#tags-sidebar {
  width: 200px;
  background: white;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  min-height: 100vh;
  scrollbar-width: none;
}

/* #tags-sidebar.collapsed {
  visibility: hidden;
} */

/* Tags button */
.tag-button {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
}

.tag-button button {
  cursor: pointer;
  width: 150px;
  display: block;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  border: solid #000000 2px;
  background-color: white;
}

.tag-button button.active {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  border: solid #000000 2px;
  background-color: black;
}

/* .tag-button button:hover {
  background-color: white;
  color: black;
} */

/* Project boxes */
/* .projbox-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} */

#no-project-gif {
  display: none;
}
#no-project-gif.show{
  display: block;
}

.project-container {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.projbox {
  position: relative; /* Needs to be relative to place text at center of image */
  float: left;
  display: none; /* Hidden by default */
  padding: 10px;
}
.show-projbox {
  display: block;
}
.projbox img {
  float: left;
  width: 250px;
  height: 250px;
  border: solid #000000 5px;
  text-align: center;
}
.projbox .text {
  font-size: 25px;
  visibility: hidden;

  /* To place text at center of image */
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.projbox:hover img {
  opacity: 0.5;
}
.projbox:hover .text {
  visibility: visible;
}
/* .projbox .show-text {
  position: absolute;
  visibility: visible;
  float: left;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 25px;
} */
#revolver-projbox-img:hover {
  content: url("../projects/revolver/revolver.gif");
}
#drawing-application-projbox-img:hover {
  content: url("../projects/drawing_application/drawingappdemo.gif");
}
#super-miami-projbox-img:hover {
  content: url("../projects/super_miami/supermiami.gif");
}

#web-proj {
  float: left;
  width: 250px;
  height: 250px;
  border: solid #000000 5px;
  text-align: center;
  font-size: 3em;
  background-color: black;
  margin: auto;
}
#web-proj p {
  display: inline-block;
  color: white;
  text-decoration: none;
}
#web-proj:hover {
  background-color: white;
}
#web-proj:hover p {
  color: black;
}
