/* CSS for CV /*

/* Whole document */
/* To get Roboto to work with wkhtmltopdf: https://gist.github.com/lightonphiri/5811226a1fba0b3df3be73ff2d5b351c */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  width: 800px;
  margin: auto;
  background: white;
  padding: 10px 10px 10px 10px;
  font-size: 12pt;
}

/* Main title */
h1 {
  font-size: 55px;
  color: white;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #000000;
}
h1:hover {
  color: #000000;
  background-color: white;
}

/* Lists */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
}
ul .sub {
  padding-left: 40px;
  margin-bottom: 0px;
}
li {
  margin-top: 0.5%;
}

/* Titles of categories */
h2 {
  color: white;
  display: table;
  background-color: #000000;
  margin-bottom: 10px;
}
h2:hover {
  color: #000000;
  background-color: white;
}

/* Links */
h1 a {
  text-decoration: none;
  color: white;
}
h1 a:hover {
  text-decoration: none;
  color: black;
}
h2 a {
  text-decoration: none;
  color: white;
}
h2 a:hover {
  text-decoration: none;
  color: black;
}
a.text {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
a.text:hover,
a.text:active {
  background-color: #000000;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
  color: #a6a6a6;
}

/* Footer */
footer {
  margin-top: 1%;
  text-align: center;
}

.normal {
  font-weight: normal;
}
.role {
  font-weight: bold;
}
.subyear {
  text-align: left;
  font-style: italic;
}
.year {
  float: right;
  text-align: right;
  font-weight: bold;
}
.personal {
  text-align: center;
  font-size: 13pt;
}
.location {
  float: right;
  text-align: right;
  font-weight: bold;
}
.listheader {
  font-weight: bold;
  line-height: 0.8;
}

.item-header {
  /* margin-top: 1.4%; */
}

.item-header span {
  font-size: 15pt;
}